* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.nav > * {
	color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 75px;
	padding: 0 20px;
	margin-bottom: 25px;
	top: 0;
	left: 0;
	background-color: rgb(17, 17, 17);
}
.nav > p > a {
	color: white;
}

.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 3px solid rgb(205, 205, 205);
}

.head > p {
	margin-top: 0;
}

.section {
	margin: 0 auto;
	text-align: center;
	min-width: 400px;
}
.section > section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section > section > div {
	min-width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 0 15px;
	margin: 5px 0;
	background-color: rgb(240, 240, 240);
}

.section > section > code {
	text-align: left;
	min-width: 400px;
	padding: 0 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid rgb(216, 216, 216);
	background-color: rgb(240, 240, 240);
}

.section > section > code > pre {
	line-height: 1.15rem;
	font-family: monospace;
}
