* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.nav > * {
	color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 75px;
	padding: 0 20px;
	margin-bottom: 25px;
	top: 0;
	left: 0;
	background-color: rgb(17, 17, 17);
}
.nav > p > a {
	color: white;
}

.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 3px solid rgb(205, 205, 205);
}

.head > p {
	margin-top: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > div,
main > form > div {
	max-width: 400px;
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	margin: 5px 0;
	background-color: rgb(240, 240, 240);
}

input,
button {
	padding: 5px 7px;
	border-radius: 3px;
	border: 1px solid grey;
}
